{% extends 'base/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Add people</h1>
    {% if messages %}
      {% for message in messages %}
          <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ person_formset.management_form }}
      {% for person_form in person_formset %}
          <div class="person-formset">
              {{ person_form|crispy }}
          </div>
      {% endfor %}
      <input style='display:block; margin-top:15px' type="submit" value="save">
    </form>
{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/django-dynamic-formset/src/jquery.formset.js' %}"></script>
  <script>
    $('.person-formset').formset({
        addText: '+ add person',
        deleteText: 'remove',
        deleteCssClass: 'btn btn-danger delete-row',
        addCssClass: 'btn btn-primary'
    });
  </script>
{% endblock %}
