{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>add person</title>
</head>
<body>
  <h1>Add person</h1>
  {% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ person_formset.management_form }}
    {% for person_form in person_formset %}
        <div class="person-formset">
            {{ person_form.name }}
            {% if person_form.name.errors %}
                {% for error in person_form.name.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value="add">
  </form>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="{% static 'js/django-dynamic-formset/src/jquery.formset.js' %}"></script>
  <script>
    $('.person-formset').formset({
        addText: 'add person',
        deleteText: 'remove'
    });
  </script>
</body>

</html>