{% extends 'base/base.html' %}

{% block content %}

<a class='btn btn-primary' href="{% url 'person:add' %}">+ Add People</a>
{% if object_list %}
  <ul style='list-style-type: none; padding: 0'>
  {% for person in object_list %}
    <li class='list-element'>
      <div style='float: left'>
        <strong><a href="{% url 'person:detail' person.id %}">{{ person.name|capfirst }}</a></strong>
      </div>
      <div style='float: right'>
        <a href="{% url 'person:edit' person.id %}">Editar</a>
        <a style='color: #cb2353' href="{% url 'person:delete' person.id %}">Eliminar</a>
      </div>
    </li>
  {% endfor %}
  </ul>
  
{% else %}
  <h1>Nothing here</h1>
{% endif %}

{% endblock %}