{% extends 'base/base.html' %}

{% block content %}

<a class='btn btn-primary' href="{% url 'add-person' %}">+ Add People</a>
{% if object_list %}
  <ul style='list-style-type: none; padding: 0'>
  {% for person in object_list %}
    <li style='border-bottom: 1px solid lightgrey; height: 52px; padding-top: 12px '>
      <div style='float: left'>
        <strong>{{ person.name|capfirst }}</strong>
      </div>
      <div style='float: right'>
        <a href="{% url 'edit-person' person.id %}">Editar</a>
        <a style='color: #cb2353' href="{% url 'delete-person' person.id %}">Eliminar</a>
      </div>
    </li>
  {% endfor %}
  </ul>
  
{% else %}
  <h1>Nothing here</h1>
{% endif %}

{% endblock %}